* {
  background-color: #044389;
}
.main-content{
  padding-left: 15%;
}
h1, h3, h4, a{
  color: #ffad05;

}

h1{
  text-align: center;
  padding-bottom: 10px;
}

.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 50px;
  max-height: initial;
}

.links li a,
.main-links {
  padding-left: 20px;
  line-height: 1.5;
}

ul, 
ol, 
.links li a,
.main-links, 
.apple-risotto-text,
div p {
  color: #c0d8e0;
}

a:hover, li a:hover{
  color: #F15156;
}
